body {
  background-color: #6fa8dc;
}
.bg img {
  background-image: url(img/bg.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -100;
}
#cse-hosted {
  position: relative;
  width: 100%;
}
#cse-header {
  position: relative;
  width: 100%;
}
.news {
  
}
